@{
    Layout = "_RestLayout";
}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">

            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="img/hero.png" alt="">
            </div>
        </div>
    </div>
</div>
<form method="post">
    <label>Role</label>
     <input type="text" name="RoleName" />
     <input type="submit" value="Add" />

</form>
<div>
    @if (TempData.ContainsKey("mes"))
    {
        <div> @TempData["mes"].ToString()</div>
    }
</div>
